<!-- components/header.html -->
<div class="title-container">
    <h1 class="title">Jorge Viñals</h1>
  </div>
  
  <div class="header-grid">
    <div class="metadata">
      <dl>
        <dt>Medium</dt>
        <dd class="medium-item">Acoustic / Electronic / Tape </dd>
        <dt>Notation</dt>
        <dd class="notation-item">Traditional / MIDI </dd>
        <dt>Duration</dt>
        <dd class="duration-item">Variable</dd>
        <dt>Commissioned By</dt>
        <dd class="commissioned-item">Coca-Cola, New Balance,<br>Mccann Erickson, Ogilvy,<br>El Deseo</dd>
      </dl>
    </div>
    <div class="profile-image-container">
      <img src="/assets/images/2024/04/110.jpg" alt="Jorge Viñals" class="profile-image" />
    </div>
  </div>